.advantages {
    background-color: $bg-black;
}

.advantages__wrapper {
    padding: 83px 0 63px;

    @media screen and (max-width: $tablet-width) {
        padding-bottom: 55px;
    }

    @media screen and (max-width: $mobile-width-only) {
        padding-top: 54px;
        padding-bottom: 30px;
    }
}

.advantages__title {
    margin-bottom: 19px;
    transform: translateX(-22px);

    @media screen and (max-width: $tablet-width) {
        margin-bottom: 22px;
    }

    @media screen and (max-width: $mobile-width-only) {
        margin: 0 auto;
        margin-bottom: 24px;
        width: 70%;
        transform: translateX(0);
    }
}

.advantages__lead {
    margin: 0 auto;
    margin-bottom: 47px;
    max-width: 56%;
    transform: translateX(-7px);

    @media screen and (max-width: $tablet-width) {
        margin-bottom: 60px;
        max-width: 60%;
    }

    @media screen and (max-width: $mobile-width-only) {
        min-width: 97%;
        margin: 0;
        margin-left: auto;
        margin-bottom: 34px;
    }
}

.advantages__list {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: flex-start;
    margin: 0 auto;
    list-style: none;
    padding: 0;
    width: 96%;

    @media screen and (max-width: $tablet-width) {
        width: 100%;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        transform: translateX(-3px);
    }

    @media screen and (max-width: $mobile-width-only) {
        transform: translateX(0);
    }
}

.advantages__item {
    width: 31.4%;
    max-width: 360px;
    min-height: 301px;
    background: $main-black;
    text-align: center;
    margin-bottom: 2.9%;
    padding: 18px 26px 16px 19px;

    &:not(:last-child) {
        margin-right: 2.9%;
    }

    @media screen and (max-width: $tablet-width) {
        width: 360px;
        margin-right: 0;
        margin-bottom: 45px;

        &:not(:last-child) {
            margin-right: 0;
        }
    }

    @media screen and (max-width: $mobile-width-only) {
        width: 290px;
        min-height: 248px;
        margin-bottom: 30px;
        padding: 15px;
    }
}

.advantages__link {
    display: block;
    max-width: 320px;
    min-height: 267px;
    margin: auto;
    padding-top: 47px;
    padding-bottom: 11px;
    text-align: center;
    transition: background-color 0.3s ease-out, fill 0.3s ease-out, stroke 0.3s ease-out;

    span {
        display: block;
        width: 76%;
        margin: 0 auto;
        min-height: 76px;
        color: $white-color;
        transform: translateX(3px);
    }

    &:hover,
    &:focus {
        background-color: $text-lead-color;
    }

    &:hover .advantages__icon, 
    &:focus .advantages__icon {
        fill: $white-color;
        stroke: $text-lead-color;
    }


    @media screen and (max-width: $tablet-width) {
        min-height: 272px;
        padding-top: 48px;

        span {
            min-height: auto;
            transform: translateX(5px);
        }
    }

    @media screen and (max-width: $mobile-width-only) {
        max-width: 260px;
        min-height: 218px;
        padding-top: 39px;
        padding-bottom: 35px;
        font-size: 14px;
        line-height: 20px;

        span {
            transform: translateX(0);
        }
    }
}

.advantages__icon {
    margin: 0 auto;
    fill: $text-lead-color;
    stroke: $main-black;
    stroke-width: 2;
    margin-bottom: 26px;

    &--counseling24 {
        margin-bottom: 36px;
        margin-left: 10px;
    }

    @media screen and (max-width: $mobile-width-only) {
        margin-bottom: 10px;
        width: 80px;
        height: 90px;

        &--counseling24 {
            margin-bottom: 0;
            margin-left: 0;
        }
    }
}
