$text-color: rgba(255, 255, 255, 1);
$black-bg-header: #181617;
$text-lead-color: #A07B50;
$main-black:  #1F1C1D;
$white-color: #FFFFFF;
$color-border-btn: #A07B50;
$bg-black: #151313;
$white-opacity: rgba(255, 255, 255, 0.61);
$black-opacity: rgba(255, 255, 255, 0.2);
$black-shadow: rgba(0, 0, 0, 0.25);
$border-color: rgba(160, 123, 80, 0.43);
$text-white: rgba(255, 255, 255, 0.72);
$color-text-btn: #DDD0C3;
$time-color: rgba(160, 123, 80, 0.94);
$border-social: rgba(160, 123, 80, 0.27);
$text-address: rgba(253, 242, 230, 0.83);
$text-tel: #FDF2E6;
$footer-color: #D6CCC2;
$desktop-width-gap-max: 1280px;
$desktop-width-gap: 1180px;
$tablet-width: 1023px;
$mobile-width-only: 767px;